{% extends 'shared/layout.twig' %}
{% block title %}StackImages{% endblock %}
{% block content %}
<script>
    if (localStorage.getItem('key') == undefined) {
        window.location.href = "{{url}}/account/login";
    } else {
        let currentDate = new Date().getTime();
        let storageTime = localStorage.getItem('auth_date');
        if(currentDate - storageTime > localStorage.getItem('expire') * 1000){
            localStorage.clear();
            window.location.href = "{{url}}/account/login";
        }
    }
</script>

            <!-- container pentru informatiile de baza -->
            <div class="container margin-top-100">
                <div class="row align-items-center">
                    <div class="col-12 mx-auto">
                        <div id="basicCVDetails" class="jumbotron center-section-container shadow p-3">

                            <h2>The Basics</h2>

                            <!-- <img src="img/avatar.png" alt="avatar"> -->

                            <a href="{{url}}/builder/edit/basic/{{id}}" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- container pentru sectiunea de educatie -->
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 mx-auto">
                        <div id="educationDetails" class="jumbotron center-section-container shadow p-3">

                            <h2>Education</h2>


                            <a href="{{url}}/builder/edit/education/{{id}}" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- container pentru sectiunea de experienta -->
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 mx-auto">
                        <div id="editExperience" class="jumbotron center-section-container shadow p-3">

                            <h2>Experience</h2>

                            <a href="{{url}}/builder/edit/experience/{{id}}" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- container pentru sectiunea de skilluri -->
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 mx-auto">
                        <div id="skillContainer" class="jumbotron center-section-container shadow p-3">

                            <h2>Skills</h2>

                            <!-- <h3>Tehcnical Skills</h3>
                            <p>Java</p>
                            <p>C++</p>
                            <p>JavaScript</p>

                            <br>

                            <h3>Personal Skills</h3>
                            <p>Skill smecher 1</p>
                            <p>Skill smecher 2</p> -->

                            <a href="{{url}}/builder/edit/skills/{{id}}" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- container pentru sectiunea de informatii despre utilizator -->
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 mx-auto">
                        <div id="aboutyouContainer" class="jumbotron center-section-container shadow p-3">

                            <h2>About You</h2>


                            <a href="{{url}}/builder/edit/aboutyou/{{id}}" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- container pentru sectiunea de obiectivul CV-ului -->
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 mx-auto">
                        <div class="jumbotron center-section-container shadow p-3">

                            <h2>Objective</h2>

                            <div id="objectiveDetails">

                            </div>

                            <a href="{{url}}/builder/edit/objective/{{id}}" class="btn btn-primary">Edit</a>

                        </div>
                    </div>
                </div>
            </div>
            <div id="printtext" style="display: none;">
                <div id="basics">
                    <h2>The Basics</h2>
                </div>
                <div id="education">
                    <h2>Education</h2>
                </div>
                <div id="experience">
                    <h2>Experience</h2>
                </div>
                <div id="skills">
                    <h2>Skills</h2>
                </div>
                <div id="aboutyou">
                    <h2>About You</h2>
                    <div id="interests">

                    </div>
                    <div id="statement">

                    </div>
                </div>
                <div id="objective">
                    <h2>Objective</h2>
                </div>
            </div>


            <div class="container" style="margin-bottom: 100px;">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button onclick="createPDF()" class="btn btn-primary">Download CV</button>
                    </div>
                </div>
            </div>





{% endblock %}